default_language_version:
    python: python3.11.0
default_stages: [commit, push]
repos:
  - repo: local
    hooks:
      - id: autoflake
        name: autoflake
        language: python
        language_version: 3.11.0
        verbose: true
        entry: sh -c 'autoflake "$@"; git add -u' --
        args:
          - "--in-place"
          - "--remove-all-unused-imports"
          - "--remove-unused-variables"
          - "--exclude=__init__.py"
        types:
          - "python"
      - id: isort
        name: isort
        language: python
        language_version: 3.11.0
        verbose: true
        entry: sh -c 'isort "$@"; git add -u' --
        types:
          - "python"
      - id: black
        name: black
        language: python
        language_version: 3.11.0
        verbose: true
        entry: sh -c 'black "$@"; git add -u' --
        types:
          - "python"
      - id: mypy
        name: mypy
        language: python
        language_version: 3.11.0
        verbose: true
        entry: mypy
        types:
          - "python"
        args:
          - "--exclude=migrations"
      - id: flake8
        name: flake8
        language: python
        language_version: 3.11.0
        verbose: true
        entry: flake8
        stages:
          - "push"
        types:
          - "python"
