name: Test App

on:
  - push
  - pull_request

jobs:
  test:
    runs-on: ubuntu-22.04
    name: Test
    steps:
      - uses: actions/checkout@v3
      - name: build app
        uses: ./.github/templates/build-app
        with:
          py-version: 3.11.0
          poetry-version: 1.3.1
      - name: run linting
        run: poetry run manage.py lint
      - name: run
        run: echo 'Testing...'
